.button {
        -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
        -fx-background-radius: 30;
        -fx-background-insets: 0,1,2,3,0;
        -fx-text-fill: #010100e9;
        -fx-font-weight: bold;
        -fx-font-size: 14px;
        -fx-padding: 10 15 10 15;
        -flex-align: center;
}
        
.background{
        -fx-background-color: #FFE99780;;
}


.list-cell:odd {
        -fx-background-color: #ffef8422; 
}
.list-cell:even {
        -fx-background-color: #e683120e; 
}

.resultlist{
        -fx-font-size: 16px; 
        -fx-control-inner-background: #ffffff; 
        -fx-text-fill: black;

}